footer {
  @extend %padding-large;
  width: 100%;
  bottom: 0;
  left: 0;
  text-align: center;
  font-size: .8em;
  font-style: italic;
  color: $subtle-text-color;

    hr{
        border: 0;
        height: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.08);
        margin: 0 40% 2em;
    }
}
