/*header {
  width: 100%;
  @extend %padding-large;
  background-image: url('../assets/img/hannahd_x2.png');
  background-size: 89px 99px;
  background-repeat: no-repeat;
  background-position: center top;
  margin-top: 4.5em;
  padding: 105px 0 4em;
}

#home{
    text-align: center;
    h1{
        font-size: 100%;
        text-transform: uppercase;
        color: $main-color;
    }
    h3{
        font-family: $font-family;
        margin: 1em 0;

    }
}
*/
