header {
  width: 100%;
  background: $bg-color;
  @extend %padding-large;
}

#home{
    text-align: center;
    h1{
        font-size: 100%;
        text-transform: uppercase;
        color: $main-color;
    }
    h3{
        font-family: $font-family;
        margin: 1em 0;

    }
}
