    <div class="row">
        <div class="col-11 hero">
            <h1><em>{{ site.author }}</em> designs epic software. She paves clear paths through
        complex processes. Through tight collaboration with users, developers, and
        business stakeholders, she <em>helps build a better&nbsp;world</em>.</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            <ul class="nav-horizontal-list">
                <li><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:{{site.email}}">{{ site.email }}</a></li>
                <li><i class="fa fa-twitter" aria-hidden="true"></i> @<a href="http://twitter.com/{{ site.twitter }}">{{ site.twitter }}</a></li>
                <li><i class="fa fa-github" aria-hidden="true"></i> <a href="https://github.com/{{ site.github }}">GitHub</a></li>
                <li><i class="fa fa-linkedin" aria-hidden="true"></i> <a href="https://www.linkedin.com/in/{{ site.linkedin }}">LinkedIn</a></li>
                </p>
            </ul>
        </div>
    </div>
