#case-studies, #experiments, #thoughts{
  padding: 3em 2em;
  h4{
      color:white;
      text-align:center;
      margin: 0 0 2em;
  }
}
#case-studies{
    background: $main-color;
}

#experiments{
    background: $alt-color;

}

#thoughts{
    h4{
        color: $alt-color;
    }
}


.features {
    text-align:center;

    li {
        display: inline-block;
        border: 1px solid rgba(255, 255, 255, 0.5);
        width: $feature-height+1;
        height: $feature-height;
        list-style:none;
        margin-right: 1em;
        margin-bottom: 1em;

        a {
            @extend %transition;
            color:white;
            text-align:center;
            text-decoration: none;
            height:100%;
            width:100%;
            display: block;
            line-height: $feature-height;
            small{
                @extend %transition;
                opacity:0;
                font: $font-size-xs $variant-family;
            }
            &:hover{
                background:$smoke-color;

                small{
                    opacity:.8;
                }
            }

            p {
                margin:0;
                display: inline-block;
                vertical-align: middle;
                line-height: normal;
            }
        }
    }
}

.posts{
    width:$feature-height * 4;
    margin: 0 auto;

    li {
        display: block;
        text-align:left;
        border: 1px solid rgba(255, 255, 255, 0.5);
        width: 100%;
        list-style:none;
        margin: 0.5em 0 2em;

        a {
            @extend %transition;
            text-decoration: none;
            display: inline-block;

                    font-size: $font-size-l;
            color:$alt-color;

            &:hover{
                color:$main-color;
            }
        }
            p {
                margin:0;
                &.description{
                    font-size: 1em;
                }
                &.time{
                    padding-top: 0.3em;
                    font-style:italic;
                    font-size: .8em;
                    color: $subtle-text-color;
                }
            }
    }


}


/*.posts {
  overflow: hidden;
  li {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid darken($main-color, 6%);

    &:first-child {
      border-top: 1px solid darken($main-color, 6%);
    }

    .p-wrap {
      padding: $spacing-ml $spacing-m;
      background: $main-color;
      transition: all .15s ease-in;
      &:active {
        background: darken($main-color, 3%);
      }
      &:hover {
        background: lighten($main-color, 3%);
        padding-left: $spacing-m + $spacing-s;
        &::after {
          content:'\2192';
          margin-left: $spacing-xs;
          @media (max-width: 942px) {
            content: none;
            margin: 0;
          }
        }
      }
      @media (max-width: 942px) {
        padding: $spacing-m $spacing-m;
      }
      p {
        display: inline;
        margin: $spacing-xs 0 0;
      }
    } // end .p-wrap

    time {
      color: darken($main-color, 20%);
      padding-right: $spacing-s;
      @media (max-width: 942px) {
        display: block;
      }
    }

    a {
      color: white;
      text-decoration: none;
    }

  } // end li
} // end .posts

.pagination {
  overflow: hidden;
  margin-top: 40px;
  color: lighten($text-color, 60%);
  text-align: center;
  border: 1px solid $border-color;

  a, span {
    box-sizing: border-box;
    float: left;
    width: 50%;
    padding: 20px;
    text-decoration: none;

    &:first-child {
      text-decoration: none;
      border-right: 1px solid $border-color;
    }
  }

  a:hover {
      text-decoration: none;
      background-color: darken($smoke-color, 5%);
  }
} // end .pagination*/
