---
layout: default
---
<header class="container">
    <div class="row">
        <h2 class="col-12 section-header"><a href="{{ site.url }}/index.html">{{ site.author }}</a><a>&nbsp;/&nbsp;Projects</a></h2>
    </div>
</header>
<main role="main">
    <div class="container">
        <article itemscope itemtype="http://schema.org/BlogPosting">
            <div class="row">
                <div class="col-7">
                    <h1 class="page-title" itemprop="name headline">{{ page.title }}</h1>
                </div>
                <div class="col-5">
                    <div class="project-thumbnail-short">
                        <div class="rotated-icons">
                          <i class="fa {{ page.icon }} icon-muted" aria-hidden="true"></i>&nbsp;<i class="fa {{ page.icon }} icon-muted" aria-hidden="true"></i>&nbsp;<i class="fa {{ page.icon }} icon-muted" aria-hidden="true"></i>&nbsp;<i class="fa {{ page.icon }} icon-muted" aria-hidden="true"></i>&nbsp;<i class="fa {{ page.icon }} icon-muted" aria-hidden="true"></i>&nbsp;<i class="fa {{ page.icon }} icon-muted" aria-hidden="true"></i>&nbsp;<i class="fa {{ page.icon }} icon-muted" aria-hidden="true"></i>
                          <br>
                          <i class="fa {{ page.icon }} icon-muted" aria-hidden="true"></i>&nbsp;<i class="fa {{ page.icon }} icon-muted" aria-hidden="true"></i>&nbsp;<i class="fa {{ page.icon }} icon-muted" aria-hidden="true"></i>&nbsp;<i class="fa {{ page.icon }} icon-muted" aria-hidden="true"></i>&nbsp;<i class="fa {{ page.icon }} icon-muted" aria-hidden="true"></i>&nbsp;<i class="fa {{ page.icon }} icon-muted" aria-hidden="true"></i>
                          <br>
                          <i class="fa {{ page.icon }} icon-muted" aria-hidden="true"></i>&nbsp;<i class="fa {{ page.icon }} icon-muted" aria-hidden="true"></i>&nbsp;<i class="fa {{ page.icon }} icon-muted" aria-hidden="true"></i>&nbsp;<i class="fa {{ page.icon }} icon-muted" aria-hidden="true"></i>&nbsp;<i class="fa {{ page.icon }} icon-muted" aria-hidden="true"></i>
                          <br>
                          <i class="fa {{ page.icon }} icon-muted" aria-hidden="true"></i>&nbsp;<i class="fa {{ page.icon }} icon-muted" aria-hidden="true"></i><i class="fa {{ page.icon }} icon-muted" aria-hidden="true"></i>&nbsp;<i class="fa {{ page.icon }} icon-muted" aria-hidden="true"></i>&nbsp;<i class="fa {{ page.icon }} icon-muted" aria-hidden="true"></i>&nbsp;<i class="fa {{ page.icon }} icon-muted" aria-hidden="true"></i>&nbsp;<i class="fa {{ page.icon }} icon-muted" aria-hidden="true"></i>&nbsp;<i class="fa {{ page.icon }} icon-muted" aria-hidden="true"></i>
                          <br>
                        </div>
                    </div>
                </div>
            </div>

            <div itemprop="articleBody">
                {{ content }}
            </div>
    </div>
    </article>
    </div>
</main>


<footer class="container">
  <div class="row top-bottom-borders">
    {% if page.next %}
    <div class="col-7">
      <span class="txt-muted">Up Next</span>
      <h3><a rel="next" href="{{ site.baseurl }}{{ page.next.url }}" id="next">{{ page.next.title }} <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></h3>
      <p>{{ page.next.subtitle }}</p>
    </div>
    {% endif %}
    <div class="col-5">
      <span class="txt-muted">Return Home</span><br/>
      <h3><a href="{{ site.url }}/index.html#philosophy">Philosophy</a></h3>
      <h3><a href="{{ site.url }}/index.html#projects">Projects</a></h3>
      <h3><a href="{{ site.url }}/index.html#about">About</a></h3>
    </div>
  </div>
  {% include masthead.html %}
</footer>
