/** {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &::after,
  &::before {
    box-sizing: border-box;
  }
}

html {
  width: 100%;
  height: 100%;
}

body {
  font: $font-size-l $font-family;
  color: $text-color;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  background-color: $bg-color;

  @media (max-width: 942px) {
    font-size: $font-size-m;
  }
  @media (max-width: 642px) {
    font-size: $font-size-s;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $variant-family;
}

h1 {
  font-size: 250%;
  margin: $spacing-xs 0;
}

h2 {
  font-size: 180%;
  font-style: italic;
  margin: $spacing-s 0 $spacing-xs;
}

h3 {
  font-size: 150%;
  font-weight: lighter;
  margin: $spacing-sm 0 $spacing-xs;
}

h4 {
  text-transform: none;
        letter-spacing: normal;
        font-family: $variant-family;
        color: $med-text-color;
        font-weight:normal;
        font-size: 1.1em;
        margin: 0 0 .4em;
}

h5 {
  @extend h4;
  font-size: .8em;
  font-weight: bold;
}

h6 {
  @extend h4;
}

blockquote{
  @extend h3;
  margin: 0 0 1.3em 0;
    text-align:center;
}
p {
  margin: 0 0 1.3em 0;
  line-height: 1.6;
}

small {
  font-size: 80%;
}

ul {
    margin: 0 0 1.3em 0;
    li {
        list-style-type: circle;
        margin: .6em 1.4em;
    }
}
ol {
    margin: 0 0 1.3em 0;
    li {
        list-style-type: decimal;
        margin: .6em 1.4em;
    }
}

a {
  color: $link-color;
  text-decoration: none;



  &:hover {
    color: darken($link-color, 20%);
    border-bottom:1px solid darken($link-color, 20%);
  }
}
.lb-data a.lb-close:hover{
    border-bottom:0;
}*/
