%transition {
  transition: all .3s ease;
}

%padding-regular {
  padding-left: $spacing-s;
  padding-right: $spacing-s;
  padding-top: $spacing-s;
  padding-bottom: $spacing-s;
}

%padding-large {
  padding-left: $spacing-m;
  padding-right: $spacing-m;
  padding-top: $spacing-m;
  padding-bottom: $spacing-m;
}

.hide-sm {
  @media only screen and (min-width: $breakpoint-small) {
    display:none;
  }
}

.show-sm {
  display:none;
  @media only screen and (min-width: $breakpoint-small) {
    display:block;
  }
}
