// Colors
$grey-3: rgba(72%,72%,72%,1.00);
$white: rgba(100%,100%,100%,1.00);
$grey-1: rgba(98%,98%,98%,1.00);
$grey-2: rgba(94%,94%,94%,1.00);
$grey-default: rgba(21%,21%,21%,1.00);
$purple: rgba(66%,0%,70%,1.00);
$yellow: rgba(100%,94%,0%,.40);


$main-color:        $purple;  // bright purple
$alt-color:         #2c3e50;  // dark blue
$bg-color:          $grey-1;    // background color

$text-color:        $grey-default;     // dark grey
$med-text-color:    $grey-3;  // med grey
$subtle-text-color: $grey-3;  // light grey
$link-color:        $purple;
$border-color:      $grey-2;
$smoke-color:       rgba(250, 250, 250, 0.12);
$highlight-color:   $yellow;




// Typography

$font-family:       'Lato', 'Helvetica Neue', Arial, sans-serif;
$variant-family:    'Share Tech Mono', Monaco, 'Courier New', Courier, monospace;
$font-size-l:       14px;             // font-size on desktop type screens
$font-size-m:       $font-size-l; //$font-size-l * 0.9; // font-size under 942px wide screens
$font-size-s:       $font-size-l; //$font-size-l * 0.7; // font-size under 642px wide screen
$font-size-xs:      $font-size-l; // $font-size-l * 0.5;


// Spacings

$spacing-xs:        .5em;
$spacing-s:         $spacing-xs * 2;
$spacing-sm:        $spacing-s + $spacing-xs;
$spacing-m:         $spacing-sm + $spacing-xs;
$spacing-ml:        $spacing-m + $spacing-xs;
$spacing-l:         $spacing-ml + $spacing-s;
$spacing-xl:        $spacing-l + $spacing-s;

$feature-height:    9em;


// Grid

$width: 90%;
$gutter: 10%;
$breakpoint-small: 33.75em; // 540px
$breakpoint-med: 45em; // 720px
$breakpoint-large: 60em; // 960px
